<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars API Search</title>
  </head>
  <body>
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png" alt="Star Wars logo">
    <h1>Star Wars API Search</h1>
    <form action="/search" method="get">
      <label for="search-term">Search for a Star Wars character:</label>
      <input type="text" id="search-term" name="term">
      <button type="submit">Search</button>
    </form>
  </body>
</html>